* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
     background-image:url(https://images.unsplash.com/photo-1489179070830-36477bd83c93?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c3Bvb2t5JTIwbGFuZHNjYXBlfGVufDB8fDB8fHww);
     background-size: cover;
    background-position: center;
}

.box {
    width: 1200px;
    height: 600px;
    display: flex;
   background: rgba(0,0,0,0.4);
}

/*left*/

.left {
    width: 50%;
    height: 100%;
    padding-top: 18%;
    padding-left: 90px;
}

.left h1 {
    margin-bottom: 70px;
}

.left p {
    margin-bottom: 40px;
    font-size: x-small;
    font-weight: 600;
}

.learn {
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #231123;
    color: #c30f45;
    font-weight: 600;
    transition: 0.3s ease;
}
.learn:hover{
    background-color: #c30f45;
    color: #231123;
    
}

/*left*/

/*right*/
.right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login {
    width: 50%;
    height: 65%;
    padding-left: 60px;
    padding-top: 60px;
    border: 1px solid #53182a;
    border-radius: 30PX;
    background: rgba(0,0,0,0.4);
}

.login p,
input,
button {
    margin-bottom: 10px;
}

.login h2 {
    margin-bottom: 30px;
    margin-left: 40px;
    color:#d4ced0;
}

input {
    display: block;
    border-radius: 20px;
    border: none;
    height: 25px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #cecccc;
}

.login p {
    font-size: small;
    font-weight: 600;
    color: #cecccc;
}

.sub {
    margin-top: 30px;
    border-radius: 20px;
    width: 180px;
    height: 35px;
    font-weight: 600;
    color: #333;
    background-color: #f39f5a;
    border: none;
    background-color: #231123;
    color: #c30f45;
    transition: 0.3s ease;
}
.sub:hover{
    background-color: #c30f45;
    color: #231123;
    
}

.icon {
     margin-top: 15px;
    width: 180px;
    height: 20px;
    text-align: center;
    letter-spacing: 12px;
}
.icon a{
    font-size: 20px;
    text-decoration: none;
    color:rgb(192, 191, 191,0.8) ;
     transition: 0.3s ease;
}
a:hover{
    color: #c30f45;
}

/*right*/